body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    height: 100vh;
}

.left-side {
    position: relative;
    width: 60%;
    overflow: hidden;
}

    .left-side video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.left-overlay {
    position: absolute;
    z-index: 2;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

    .left-overlay .logo {
        font-size: 2rem;
        font-weight: 600;
    }

    .left-overlay .description {
        font-size: 1.3rem;
        margin-top: 50rem;
    }

    .left-overlay .exit-btn {
        background-color: transparent;
        color: white;
        border: 2px solid white;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        width: fit-content;
    }

.right-side {
    width: 40%;
    background: linear-gradient(to bottom right, #6f42c1, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 80%;
    max-width: 400px;
}

    .login-box h2 {
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

.form-control {
    border-color: #ccc;
    color: #000;
}

.btn-login {
    background-color: #007bff;
    color: white;
    border: none;
}

    .btn-login:hover {
        background-color: #0056b3;
    }

.metro-logo {
    height: 100px;
}

.metro-text {
    font-size: 2rem;
    font-weight: 600;
}

.login-btn {
    margin-top: 1.5rem;
    padding: 0.7rem 2rem;
    background-color: #0078D4;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

    .login-btn:hover {
        background-color: #301934;
        transform: scale(1.05);
        transition: all 0.3s ease;
    }
